<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Express</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <%- include('./partials/header') %>
    <div class="central">

        <h1><%= title %></h1>
        <div class="french-movies">
            <% for(movie of movies) {%>
            <div>Titre : <%= movie.title %></div>
            <div>Années : <%= movie.year %></div>
            <% } %>
        </div>
        <br>
        <div>
            <form action="/movies" method="post">
                <label for="movieTitle">Titre :</label>
                <input type="text" id="movieTitle" name="movieTitle">

                <label for="movieYear">Année :</label>
                <input type="text" id="movieYear" name="movieYear">

                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

    //gerer le chargement de la page avec 
    <script>
        var form = document.querySelector('form');
        form.addEventListener("submit", addMovie);

        function addMovie(event) {
            if (window.fetch) {
                addMovieUsingFetch(event);
            } else {
                addMovieUsingXHR(event);
            }
        }

        function addMovieUsingFetch(event) {
            console.log('using addMovieUsingFetch()');
            event.preventDefault();

            fetch('/movies', {
                    method: 'POST',
                    body: new FormData(form)
                })
                .then(checkStatus)
                .catch(function (error) {
                    console.log('request failed', error)
                });
        }

        function checkStatus(response) {
            if (response.status >= 200 && response.status < 300) {
                let newMovieDiv = document.createElement('div');
                const movietitle = document.getElementById('movieTitle').value;
                const movieyear = document.getElementById('movieYear').value;
                newMovieDiv.innerHTML = `${movietitle} (${movieyear})`;
                document.querySelector('.french-movies').appendChild(newMovieDiv);
                form.reset();

            } else {
                const error = new Error(response.statusText);
                error.response = response;
                throw error;
            }
        }
    </script>
</body>

</html>